<!DOCTYPE html>
<html lang="ko">

<head>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">

    <title>ICY Portfolio</title>
    <meta content="" name="description">
    <meta content="" name="keywords">

    <!-- Favicons -->
    <link href="~/themes/Template/assets/img/favicon.png" rel="icon">
    <link href="~/themes/Template/assets/img/apple-touch-icon.png" rel="apple-touch-icon">

    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Raleway:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">

    <!-- Vendor CSS Files -->
    <link href="~/themes/Template/assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="~/themes/Template/assets/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
    <link href="~/themes/Template/assets/vendor/boxicons/css/boxicons.min.css" rel="stylesheet">
    <link href="~/themes/Template/assets/vendor/glightbox/css/glightbox.min.css" rel="stylesheet">
    <link href="~/themes/Template/assets/vendor/remixicon/remixicon.css" rel="stylesheet">
    <link href="~/themes/Template/assets/vendor/swiper/swiper-bundle.min.css" rel="stylesheet">

    <!-- Template Main CSS File -->
    <link href="~/themes/Template/assets/css/style.css" rel="stylesheet">

    <!-- =======================================================
    * Template Name: Personal
    * Updated: May 30 2023 with Bootstrap v5.3.0
    * Template URL: https://bootstrapmade.com/personal-free-resume-bootstrap-template/
    * Author: BootstrapMade.com
    * License: https://bootstrapmade.com/license/
    ======================================================== -->
</head>

<body>

    <!-- ======= Header ======= -->
    <header id="header">
        <div class="container">

            <h1><a href="index.html">Chaeyeon Lim</a></h1>
            <!-- Uncomment below if you prefer to use an image logo -->
            <!-- <a href="index.html" class="mr-auto"><img src="~/themes/Template/assets/img/logo.png" alt="" class="img-fluid"></a> -->
            <h2>I'm a ∀ <span>developer</span> from Busan</h2>

            <nav id="navbar" class="navbar">
                <ul>
                    <li><a class="nav-link active" href="#header">Home</a></li>
                    <li><a class="nav-link" href="#about">About</a></li>
                    <li><a class="nav-link" href="#resume">Resume</a></li>
                    @*<li><a class="nav-link" href="#services">Services</a></li>*@
                    <li><a class="nav-link" href="#portfolio">Portfolio</a></li>
                    <li><a class="nav-link" href="#contact">Contact</a></li>
                    <li><a class="nav-link" href="#notice">Notice</a></li>
                    <li><a class="nav-link" href="#notice">Register</a></li>
                    <li><a class="nav-link" href="#notice">Login</a></li>
                </ul>

                <i class="bi bi-list mobile-nav-toggle"></i>
            </nav><!-- .navbar -->

            <div class="social-links">
                <a href="https://github.com/limchaeyeon8" class="github"><i class="bi bi-github"></i></a>
                <a href="https://youtu.be/RxXV6NPIKq0" class="youtube"><i class="bi bi-youtube"></i></a>
                <a href="https://www.instagram.com/chaeyeon_lim_01/" class="instagram"><i class="bi bi-instagram"></i></a>
                @*<a href="#" class="linkedin"><i class="bi bi-linkedin"></i></a>*@
            </div>

        </div>
    </header><!-- End Header -->

    <div>
        <!-- RenderBody() /Views/Account, Admin, Board, Home 전부 다 -->
        <!-- RenderBody() 필수 -->
        @RenderBody()

    </div>

    <footer>
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <p>
                        Copyright © 2023 Study at PKNU., Ltd. All Rights Reserved.

                        <br>Web Designed by <a rel="nofollow" href="https://templatemo.com" title="free CSS templates">TemplateMo</a>
                    </p>
                </div>
            </div>
        </div>
    </footer>


    <!-- Scripts -->
    <!-- jQuery & Bootstrap CND LINKs -->
    <script src="~/themes/Template/vendor/jquery/jquery.min.js"></script>
    <script src="~/themes/Template/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

    <!-- SEO Dream 테마를 위해서 개발자가 만든 js -->
    <script src="~/themes/Template/assets/js/owl-carousel.js"></script>
    <script src="~/themes/Template/assets/js/animation.js"></script>
    <script src="~/themes/Template/assets/js/imagesloaded.js"></script>
    <script src="~/themes/Template/assets/js/custom.js"></script>

    <!-- WYSWYG 에디터용 js & 한국어언어팩 js -->
    <script src="~/lib/trumbowyg/trumbowyg.min.js"></script>
    <script src="~/lib/trumbowyg/langs/ko.min.js"></script>
    <!-- trumbowyg를 site.js에서 부르기 때문에 상위에 trumbowyg에 관련된 js가 먼저 나와야.. -->
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)

</body>
</html>